/* html, body {
    height: 100%;
    overflow: hidden;
} */


.icon {
    height: 60px;
    line-height: 60px;
    width: 60px;
    font-size: 2em;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;

    text-decoration: none;
}

#location {
    right: 15px;
    bottom: 145px;
}

#qr {
    right: 15px;
    bottom: 80px;
}

#text {
    right: 15px;
    bottom: 15px;
}