:root {
    --clr: #ff748c;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
}


.icon {
    height: 10pc;
    width: 10pc;
    font-size: 2em;
    border-radius: 50%;
    background-color: var(--clr);
    color: white;
    position: fixed;
    text-align:center;

    border: 5px sold var(--clr);
}

#location {
    right: 2.5pc;
    bottom: 25pc;
}

#qr {
    right: 2.5pc;
    bottom: 13.75pc;
}

#text {
    right: 2.5pc;
    bottom: 2.5pc;
}




#controller {
    height: 40pc;
    width: 40pc;
    margin: auto;

}
#progressBase {
    fill: none;

    stroke-width: 10;
    stroke: #f3f3f3;
}
#progress {
    fill: none;
    
    stroke-dasharray: 282.7433388;
    stroke-dashoffset: 282.7433388;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--clr);
    transform: rotate(-90deg);

    transition: 0.2s;
}


.exteriorIcon {
    margin: 2.5pc;
}


#video {
    position: absolute;
    width: 32.5pc;
    height: 32.5pc;

    left: 2.5pc;
    bottom: 2.5pc;
}

#hint {
    font-size: 4em;
    font-family: Arial, Helvetica, sans-serif;
}